body {
  background-color: #f5efed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
header {
  display: flex;
  width: auto;
  justify-content: center;
  background: black;
}
.menu {
  list-style: none;
  display: flex;
  padding: 0;
}
.botones {
  font-family: Kadwa;
  font-size: 20px;
  font-style: normal;
  margin-right: 40px;
  padding: 5px;
  border-radius: 20px;
  background: black;
}
.menu a {
  color: #fff;
  text-decoration: none;
}
.botones:hover {
  background: #ef233c;
}
a {
  text-decoration: none;
  color: black;
}
.presentacion {
  margin-top: 150px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.item {
  margin: 30px 0;
}
.construccion {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 60px;
  text-align: center;
}
.imagen{
  max-width: 75%;
  height: auto;
}
.imagen2{
  max-width: 100%;
  height: auto;
}
.miembro{
  flex: 1;
  margin: 5px;
  text-align: center;
}
.integrantes {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

img {
  padding: 2px;
  background-color: black;
  border-radius: 40px;
}

@media screen and (max-width: 1000px) {
  .menu {
    flex-direction: column;
  }

  .botones {
    text-align: center;
    margin: 8px 0;
  }
  .datos {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .datos-imagen {
    margin-bottom: 10px;
  }
  .construccion{
    display: flex;
    font-size: 40px;
    margin: 5px;
  }
  .texto {
    width: 100%;
    text-align: justify;
  }
  .integrantes {
    flex-direction: column;
  }
  .presentacion {
    margin-top: 50px;
    margin-right: 10px;
    flex-direction: column;
    text-align: left;
    align-items: center;
    font-size: 30px;
  }
  .item {
    margin: 40px 0;
  }
  .imagen{
    max-width: 75%;
    height: auto;
  }
  .imagen2{
    max-width: 75%;
    height: auto;
  }
  .miembro{
    flex: 1;
    margin: 5px;
    text-align: center;
    justify-content: center;
  }
}
